<h1 i18n='@@title' style="color: red;" >Angular-ის ინტერნაციონალიზაცია და ლოკალიზაცია</h1>
<h2 i18n='@@internationalization-term' style='color: blue;' ><i style='color:green;'>ინტერნაციონალიზაცია,</i> რომელიც ზოგჯერ მოიხსენიება როგორც i18n, არის თქვენი პროექტის შემუშავებისა და მომზადების პროცესი მსოფლიოს სხვადასხვა ადგილას გამოსაყენებლად.</h2>

  <div>
    <h2 i18n='@@localization-term' style='color: blue;'><ul><i style='color: green;'>ლოკალიზაცია</i> არის თქვენი პროექტის ვერსიების აგების პროცესი სხვადასხვა ლოკალებისთვის. ლოკალიზაციის პროცესი მოიცავს შემდეგ მოქმედებებს:</ul></h2>

  <li i18n='@@localication-action1' style='color: brown;'>ამოიღეთ ტექსტი სხვადასხვა ენაზე თარგმნისთვის;</li>
  <li i18n='@@localization-action2' style='color: brown;' >მონაცემების ფორმატირება კონკრეტული ლოკალისთვის;</li>
  </div>

  <h2 i18n='@@localization-format-term'><ul><i>ლოკალი</i> განსაზღვრავს რეგიონს, სადაც ადამიანები საუბრობენ კონკრეტულ ენაზე ან ენის ვარიანტზე. შესაძლო რეგიონებში შედის ქვეყნები და გეოგრაფიული რეგიონები. ლოკალი განსაზღვრავს შემდეგი დეტალების ფორმატირებას და ანალიზს.</ul></h2>

  <li i18n='@@locatization-format1' style='color: brown;' >საზომი ერთეულები, მათ შორის თარიღი და დრო, რიცხვები და ვალუტა;</li>
  <li i18n='@@localization-format2' style='color: brown;'>თარგმნილი სახელები, მათ შორის დროის სარტყლები, ენები და ქვეყნები;</li>

  <hr>

  <div>
    <h3 i18n='@@i18n-command'><code>@angular/localize</code> პაკეტის დასამატებლად გამოიყენეთ შემდეგი ბრძანება, რათა განაახლოთ <code>package.json</code> და <code>TypeScript კონფიგურაციის ფაილები</code> თქვენს პროექტში.</h3>
<br>
 <code style='color: crimson; font-size: large;'>ng add @angular/localize</code>
  </div>

  <br>

<div>
  <h2 i18n='@@extract-i18n-actions' style='color: blue;'>საწყისი ენის ფაილის ამოღება</h2>
<h3><ul i18n='@@extract-i18n-steps' style='color: green;'>საწყისი ენის ფაილის ამოსაღებად, შეასრულეთ შემდეგი მოქმედებები.</ul></h3>
<ol i18n='@@extract-i18n-step1' style='color: brown;'>გახსენით Terminal.</ol>
<ol i18n='@@extract-i18n-step2' style='color: brown;'>შეცვალეთ თქვენი პროექტის root დირექტორია.</ol>
<ol i18n='@@extract-i18n-step3' style='color: brown;'>გაუშვით შემდეგი CLI ბრძანება.</ol>

<code style='color: crimson; font-size: large;'>ng extract-i18n</code>
</div>

<br>

<div>
  <h3 i18n='@@extract-i18n-json' style='color: blue;'>ასევე ფაილის შესაქმნელად src/locale დირექტორიაში, ოფციაში მიუთითეთ გამომავალი გზა.</h3>
<code style='color: crimson; font-size: large;'>ng extract-i18n --output-path src/locale --format=json</code>
</div>